@import('./map.css');

body
{

	background-image: url(../images/skyline.jpg); 
	background-size: cover; 
}

.content
{
	text-align:center;
	font-family: arial, sans-serif;
	color: white;
}

.content a
{
	color:white;
	text-decoration:none;
}
